#display {
    font-size: 20px;
    background-color: rgb(235, 165, 165);
    padding: 15px;
    width: 388px;
}

input[type=button] {
    font-size: 18px;
    padding: 30px;
    width: 90px;
    background-color: rgb(197, 116, 116);
    border: none;
    margin: 7px;
}
input[type=button]:active {
    background-color: rgb(36, 2, 2);
}