.game{
    width: 252px;
    text-align: center;
    font-family: system-ui;
    color:antiquewhite;
    margin: auto;
    font-weight: 500;
}
.title{
    background: #cf4465;
    padding: 5px 0;
    margin: 5px 0;
}
span{
    color: rgb(196, 164, 100);
    font-weight: 500px;
}
.square{
    width: 80px;
    height: 80px;
    background: rgb(230, 159, 175);
    float: left;
    margin: 2px;
    font-size: 50px;
}
.square:hover{
    background: rgb(221, 193, 193);
}